* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
:root {
  --body-bg: #0d1117;
  --section-bg: #010409;
  --button-bg: #1f6feb;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 10px;
  background: var(--body-bg);
  position: relative;
}
.error {
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: lighter;
}
.error i {
  color: rgb(212, 71, 71);
}
.empty i {
  color: rgb(200, 153, 0);
}
section {
  width: 350px;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 25px;
  overflow: hidden;
  background: var(--section-bg);
  text-align: center;
}
.left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  color: rgb(238, 238, 238);
}
.left img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.left h1 {
  font-size: 2rem;
  letter-spacing: 1.5px;
}
.left p {
  font-size: 0.75rem;
  text-align: center;
  color: rgb(190, 189, 189);
  width: 85%;
  margin: 0 auto;
}
.left > .data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.left > .data div > h2 {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  color: white;
}
.left > .data div > p {
  font-size: 1.5rem;
  color: white;
}

.left > a {
  text-decoration: none;
  color: white;
  margin-top: 10px;
  background: var(--button-bg);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 25px;
}
.inputs {
  width: 340px;
}
.inputs div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.inputs input {
  height: 40px;
  border-radius: 25px 0px 0px 25px;
  padding: 10px;
  background: var(--section-bg);
  color: rgb(182, 182, 182);
  font-size: 0.9rem;
  outline: none;
  width: 100%;
}
.inputs button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  border-radius: 0px 25px 25px 0px;
  padding: 10px;
  background: var(--button-bg);
  color: rgb(221, 221, 221);
  cursor: pointer;
}
.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff3d00;
}
@keyframes skLinRotate {
  95%,
  100% {
    transform: rotate(840deg);
  }
}
@media screen and (max-width: 480px) {
  body {
    height: auto;
  }
  section {
    width: 300px;
    height: 70vh;
  }
  .inputs {
    width: 300px;
    margin-top: 30px;
  }
}
